<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ name }}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.3.1/dist/sketchy/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css" integrity="sha384-QokYePQSOwpBDuhlHOsX0ymF6R/vLk/UQVz3WHa6wygxI5oGTmDTv8wahFOSspdm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/fontawesome.css" integrity="sha384-vd1e11sR28tEK9YANUtpIOdjGW14pS87bUBuOIoBILVWLFnS+MCX9T6MMf0VdPGq" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
        <style>
            .form-control {
                padding: 1.4rem 0.75rem;
            }

            .white {
                color: #fff;
            }

            .navbar {
                border-width: 0 !important;
                border-style: none !important;
                border-radius: 0 !important;
            }

            .red {
                color: red;
            }

            .no-display {
                display: none;
            }
        </style>
        <script data-ad-client="{{ adcode }}" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="{{ path_for('home') }}">{{ name }}</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path_for('home') }}">Home <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li class="nav-item pull-right">
                            <a class="nav-link" href="#">Report</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container" style="padding-top: 45px;">
            <div class="jumbotron">
                <div class="display-4 text-center mb-3">Redirect, Anonymously</div>
                <p class="lead text-center">Create anonymous links, share it and hide the HTTP referrers. No trackers, no logs</p>
                <form action="{{ host }}{{ path_for('link.new') }}" method="post" id="linkCreate">
                    <div class="row">
                        <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10">
                            <input id="link" class="form-control input-lg mt-2" placeholder="Paste a link to shorten it" name="url" type="url">
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
                            <input class="btn btn-lg btn-primary btn-block mt-2" type="submit" value="Shorten">
                        </div>
                    </div>
                </form>
                <p class="lead red no-display mt-4 text-center" id="error"></p>
            </div>
            <div class="jumbotron mt-5">
                <div class="display-4 text-center mb-3">What's this?</div>
                <p class="lead text-center">
                    Anonymously link to other web sites without sending any referrer by using <b>{{ name }}</b>.
                    Use <b>{{ name }}</b> to de-referer or null-referer your links. There are no trackers, logs tracking you around.
                </p>
            </div>
        </div>

        <div style="background: #333 !important" class="pb-5 pt-1 mt-5">
            <footer class="mt-5">
                <div class="footer-top">
                    <div class="container footer-top">
                        <div class="row">
                            <div class="col-md-6 footer-col text-center">
                                <p class="navbar-brand white">Copyright © {{ name }}</p>
                                <ul class="list-inline">
                                    <li><a href="{{ host }}/about" title="About" class="white">About</a></li>
                                    <li><a href="{{ host }}/about/terms" title="Terms of Service" class="white">Terms</a></li>
                                    <li><a href="{{ host }}/about/privacy-policy" title="Privacy Policy" class="white">Privacy</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 footer-col text-center">
                                <h4 class="white">
                                    About {{ name }}
                                </h4>
                                <p class="white">{{ name }} is a free to use, Anonymous URL Shortener and Redirect service</p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ gacode }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', '{{ gacode }}');
        </script>
        <script>
            $(document).ready(function(){
                $('#linkCreate').submit(function (e) {
                    e.preventDefault();

                    if ($('#link').val().length === 0) {
                        document.getElementById('error').innerText = 'You have not entered the URL';
                        $('#error').removeClass('no-display');
                    }

                    $.ajax({
                        method: 'POST',
                        url: '{{ host }}{{ path_for('link.new') }}',
                        data: $('#linkCreate').serialize(),
                        success: function (data) {
                            document.getElementById('error').innerText = "Your link has been created. See it at {{ host }}/" + data.code;
                            $('#error').removeClass('no-display');
                        },
                        error: function(err) {
                            document.getElementById('error').innerText = "An error occurred. Try again!";
                        }
                    })
                });
            });
        </script>
    </body>
</html>
