<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ name }}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.3.1/dist/sketchy/bootstrap.min.css">
        <style>
            .form-control {
                padding: 1.4rem 0.75rem;
            }

            .white {
                color: #fff;
            }

            .navbar {
                border-width: 0 !important;
                border-style: none !important;
                border-radius: 0 !important;
            }
        </style>
        <script data-ad-client="{{ adcode }}" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="{{ path_for('home') }}">{{ name }}</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li class="nav-item pull-right">
                            <a class="nav-link" href="#">Report</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container mt-5">
            <div class="jumbotron">
                <div class="display-4 text-center mb-3">
                    {{ name }}, anonymous, simple.
                </div>
                <p class="lead text-center">
                    <span style="color: red">The link you have followed is deleted due to copyright claims.</span>
                    <br>
                    Please contact the website owners if you think it's false.
                    <br>
                    <br>
                    You can also create anonymous links, share it and hide the HTTP referrers. No trackers, no logs
                </p>
                <a class="btn btn-lg btn-error btn-block mt-4" rel="noreferrer nofollow" href="{{ host }}">Go Home</a>
            </div>
        </div>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ gacode }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', '{{ gacode }}');
        </script>
    </body>
</html>
